.available{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    font-size: 1.1vh;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    padding:1vh;
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    z-index: 10;
}

.available h1{
    margin:0;
    font-family: 'AudioWide', sans-serif;
}

.available h2{
    margin:0
}

.contact-link{
    color:#fff;
    font-size: 1.4em;
    text-decoration: none;
}