.app {
 position: fixed;  
 top:0;
 left:0;
 height:100dvh;
 height:100vh;
 width:100vw;
 background:linear-gradient(0deg,hsl(23deg, 17%, 58%) 0%,hsl(293deg, 67%, 48%) 30%,hsl(193deg, 37%, 28%)100%)
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  